<h2>Zarejestruj się</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :first_name, :label=>'Imię',required: true, autofocus: true %>
  	<%= f.input :last_name, :label=>'Nazwisko', required: true, autofocus: true %>
  	<%= f.input :address, :label=>'Adres zamieszkania', required: true, autofocus: true %>
    <%= f.input :email, :label=>'Adres email',required: true, autofocus: true %>
    <%= f.input :password, :label=>'Hasło',required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation,:label=>'Potwierdzenie hasła', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Zarejestruj się" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
