<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Data urodzenia:</strong>
  <%= @author.date_born %>
</p>

<%= link_to 'Edytuj', edit_author_path(@author) %> |
<%= link_to 'Powrót', authors_path %>
