<p id="notice"><%= notice %></p>

<h1>Wydawcy</h1>

<table border ="2">
  <thead>
    <tr>
      <th style="padding: 3px">Nazwa</th>
      <th style="padding: 3px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td style="padding: 3px"><%= publisher.name %></td>
        <td style="padding: 3px"><%= link_to 'Pokaż', publisher %></td>
        <td style="padding: 3px"><%= link_to 'Edytuj', edit_publisher_path(publisher) %></td>
        <td style="padding: 3px"><%= link_to 'Usuń', publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy wydawca', new_publisher_path %>
