<p id="notice"><%= notice %></p>

<h1>Wypożyczenia</h1>
<h3><%= link_to 'Nowe wypożyczenie', new_loan_path %></h3>

Oczekujące wypożyczenia
<table border = "2">
  <thead>
    <tr>
      <th style="padding: 3px">Przedmiot</th>
      <th style="padding: 3px">Klient</th>
      <th style="padding: 3px">Data wypożyczenia</th>
      <th style="padding: 3px">Bibliotekarz</th>
      <th style="padding: 3px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans_waiting.each do |loan| %>
      <tr>
        <td style="padding: 3px"><%= loan.item.name %></td>
        <td style="padding: 3px"><%= loan.user.first_name + " " + loan.user.last_name %></td>
        <td style="padding: 3px"><%= loan.date_in %></td>
        <td style="padding: 3px"><%= loan.librarian_id %></td>
        <td style="padding: 3px"><%= link_to 'Wyświetl', loan %></td>
        <td style="padding: 3px"><%= link_to 'Edytuj', edit_loan_path(loan) %></td>
        <td style="padding: 3px"><%= link_to 'Usuń', loan, method: :delete, data: { confirm: 'Na pewno?' } %></td>
        <td style="padding: 3px"><%= link_to "Zwrot przedmiotu",
                                             loan_path(loan,
                                                       :loan => { :date_out => Time.now.strftime("%d/%m/%Y %H:%M")}),
                                             :method => :put%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

Pozostałe wypożyczenia:
<table border = "2">
  <thead>
  <tr>
    <th style="padding: 3px">Przedmiot</th>
    <th style="padding: 3px">Klient</th>
    <th style="padding: 3px">Data wypożyczenia</th>
    <th style="padding: 3px">Data oddania</th>
    <th style="padding: 3px">Bibliotekarz</th>
    <th style="padding: 3px" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @loans_complete.each do |loan| %>
      <tr>
        <td style="padding: 3px"><%= loan.item.name %></td>
        <td style="padding: 3px"><%= loan.user.first_name + " " + loan.user.last_name %></td>
        <td style="padding: 3px"><%= loan.date_in %></td>
        <td style="padding: 3px"><%= loan.date_out %></td>
        <td style="padding: 3px"><%= loan.librarian_id %></td>
        <td style="padding: 3px"><%= link_to 'Wyświetl', loan %></td>
        <td style="padding: 3px"><%= link_to 'Edytuj', edit_loan_path(loan) %></td>
        <td style="padding: 3px"><%= link_to 'Usuń', loan, method: :delete, data: { confirm: 'Na pewno?' } %></td>
        <td style="padding: 3px"><%= link_to "Anuluj zwrot",
                                             loan_path(loan,
                                                       :loan => { :date_out => "0001-01-01 00:00:00"}),
                                             :method => :put%></td>
      </tr>
  <% end %>
  </tbody>
</table>
