<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @loan.item.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan.user.first_name + " " + @loan.user.last_name %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @loan.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @loan.date_out %>
</p>

<p>
  <strong>Librarian:</strong>
  <%= @loan.librarian_id %>
</p>

<%= link_to 'Edytuj', edit_loan_path(@loan) %> |
<%= link_to 'Powrót', loans_path %>
