<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :isbn %>
    <%= f.input :language %>
    <%= f.input :state %>
    <%= f.input :count %>

    <%= f.association :publisher, :label => "Wydawca", label_method: :name, value_method: :id, include_blank: false %>


    <%= f.input :date_pub %>

    <%= f.input :item_img_file_name %>
    <%= f.input :item_img_content_type %>
    <%= f.input :item_img_file_size %>
    <%= f.input :item_img_updated_at %>

    <%= f.select :authors, options_from_collection_for_select(Author.all, :id, :name), {},
                 {:multiple => true}%>
    <br><br>
    <%= f.select :categories, options_from_collection_for_select(Category.all, :id, :name), {},
                 {:multiple => true}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
