<p id="notice"><%= notice %></p>
<h1>Przedmioty</h1>
<table border = "2">
  <thead>
    <tr>
      <th style="padding: 3px">Nazwa</th>
      <th style="padding: 3px">Autorzy</th>
      <th style="padding: 3px">Kategorie</th>
      <th style="padding: 3px">Wydawca</th>
      <th style="padding: 3px">Isbn</th>
      <th style="padding: 3px">Język</th>
      <th style="padding: 3px">Data_publikacji</th>
      <th style="padding: 3px">Dost</th>
      <th style="padding: 3px">Plik_obrazka</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td style="padding: 3px"><%= item.name %></td>
        <td style="padding: 3px"><% item.authors.uniq.reverse.drop(1).reverse.each do |au|%>
              <%= au.name %>,
          <% end %>
          <%= item.authors.last.name if item.authors.last != nil%></td>
        <td style="padding: 3px"><% item.categories.uniq.reverse.drop(1).reverse.each do |cat|%>
              <%= cat.name %>,
          <% end %>
          <%= item.categories.last.name if item.categories.last != nil %></td>
        <td style="padding: 3px"><%= item.publisher.name %></td>
        <td style="padding: 3px"><%= item.isbn %></td>
        <td style="padding: 3px"><%= item.language %></td>
        <td style="padding: 3px"><%= item.date_pub %></td>
        <td style="padding: 3px"><%= item.count %></td>
        <td style="padding: 3px"><%= item.item_img_file_name %></td>
        <td style="padding: 3px"><%= link_to 'Wyświetl', item %></td>
        <td style="padding: 3px"><%= link_to 'Edytuj', edit_item_path(item) %></td>
        <td style="padding: 3px"><%= link_to 'Usuń', item, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowy przedmiot', new_item_path %>
