<body class="items-body">


<div style="width: auto; margin: 60px auto 0 auto;">
	<div align="center">
	<form action="/items/search_advanced" class="form-inline" margin="auto" >

        <div class="input-group" display="inline-block" >
        	<div class="form-group">
            <%= text_field_tag :search_title, params[:search_title], placeholder: "Tytuł", class: "form-control"  %>
            </div>
            <div class="form-group">
            <%= text_field_tag :search_author, params[:search_author], placeholder: "Autor", class: "form-control" %>
            </div>
            <div class="form-group">
            <%= text_field_tag :search_isbn, params[:search_isbn], placeholder: "ISBN", class: "form-control" %>
            </div>
            <div class="form-group">
            <%= text_field_tag :search_publisher, params[:search_publisher], placeholder: "Wydawnictwo", class: "form-control" %>
            </div>
            <div class="form-group">
            <%= text_field_tag :search_language, params[:search_language], placeholder: "Język", class: "form-control" %>
            </div>
            <div class="form-group">
            <%= text_field_tag :search_description, params[:search_description], placeholder: "Opis", class: "form-control" %>
            </div>

			<div class="form-group">

				<select id="select_category" name="select_category" class="form-control">
  				<optgroup>
  					<option selected><p style="color:#808080"></p></option>
  				<% Category.all.each do |dd| %>
    				<option><%= dd.name %></option>
    			<% end %>
  				</optgroup>
				</select>


			</div>
			<div class="form-group">
                <button class="btn btn-default" type="submit"></i>Szukanie zaawansowane</button>
            </div>

        </div>
    </form>
    </div>
<br />
<br />
</div>


<% if @advanced_search_results.count == 0 %>
	<center><h1>Nie znaleziono żadnych wyników</h1></center>
<% else %>	
	<div class="container" >

		<% @advanced_search_results.each do |item| %>
			<div class="col-md-3 row"  >

				<a href="/items/<%= item.id %>">

				<div id="borderimg2" class="item_width">
					<%= image_tag item.item_img_file_name, class: "item item-shelf"  %>
				</div>

				</a>


			</div>
		<% end %>

	
	</div>
	
<% end %>	




</body>