<p id="notice"><%= notice %></p>

<h1>Item Authors</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_authors.each do |item_author| %>
      <tr>
        <td><%= item_author.item %></td>
        <td><%= item_author.author %></td>
        <td><%= link_to 'Show', item_author %></td>
        <td><%= link_to 'Edit', edit_item_author_path(item_author) %></td>
        <td><%= link_to 'Destroy', item_author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Author', new_item_author_path %>
