<p id="notice"><%= notice %></p>

<h1>Kary</h1>

<table border = "2">
  <thead>
    <tr>
      <th style="padding: 3px">Data nadania kary</th>
      <th style="padding: 3px">Wartość</th>
      <th style="padding: 3px">Klient</th>
      <th style="padding: 3px">Wypożyczenie z dnia</th>
      <th style="padding: 3px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @penalties.each do |penalty| %>
      <tr>
        <td style="padding: 3px"><%= penalty.date %></td>
        <td style="padding: 3px"><%= penalty.value %></td>
        <td style="padding: 3px"><%= penalty.client %></td>
        <td style="padding: 3px"><%= penalty.loan %></td>
        <td style="padding: 3px"><%= link_to 'Show', penalty %></td>
        <td style="padding: 3px"><%= link_to 'Edit', edit_penalty_path(penalty) %></td>
        <td style="padding: 3px"><%= link_to 'Destroy', penalty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa kara', new_penalty_path %>
