<p id="notice"><%= notice %></p>

<h1>Kategorie</h1>

<table border = "2">
  <thead>
    <tr>
      <th style="padding: 3px">Nazwa</th>
      <th style="padding: 3px" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td style="padding: 3px"><%= category.name %></td>
        <td style="padding: 3px"><%= link_to 'Pokaż', category %></td>
        <td style="padding: 3px"><%= link_to 'Edytuj', edit_category_path(category) %></td>
        <td style="padding: 3px"><%= link_to 'Usuń', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa kategoria', new_category_path %>
