<!DOCTYPE html>
<html>
<head>
  <title>LibraryProject</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <%= link_to "Strona główna", root_path, class: "navbar-brand" %>
  </div>
  <div class="nav navbar-nav">
    <% if user_signed_in? %>
        <% if current_user.user_type == "admin" %>
            <li><%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Edytuj konto", edit_user_registration_path, method: :get %></li>
            <li><%= link_to "Moje konto", users_profile_path, method: :get %></li>

            <li><%= link_to "Wypożyczenia", loans_path, method: :get %></li>
            <li><%= link_to "Przedmioty", items_path, method: :get %></li>
            <li><%= link_to "Kary", penalties_path, method: :get %></li>

            <li><%= link_to "Autorzy", authors_path, method: :get %></li>
            <li><%= link_to "Kategorie", categories_path, method: :get %></li>
            <li><%= link_to "Wydawcy", publishers_path, method: :get %></li>

            <li><%= link_to "TMP item_auth", item_authors_path, method: :get %></li>
            <li><%= link_to "TMP item_cat", item_categories_path, method: :get %></li>
        <% else %>
            <li><%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Edytuj konto", edit_user_registration_path, method: :get %></li>
            <li><%= link_to "Moje konto", users_profile_path, method: :get %></li>
        <% end %>
    <% else %>
        <li><%= link_to "Zarejestruj się", new_user_registration_path %></li>
        <li><%= link_to "Zaloguj się", new_user_session_path %></li>
    <% end %>
  </div>






  <div align="right">
    <form class="navbar-form" role="search" action = "/items/search" >
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: "Szukaj w bibliotece...",class: "form-control" %>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </div>

</nav>





<% if false %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>
</body>
</html>
